<nav class="bg-gray-800 font-medium w-full p-4 flex flex-row justify-between">
  <div class="flex flex-row gap-4">
    <a class="flex items-center" routerLink="/">
      <svg
        class="w-8 h-8 text-gray-300"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
        />
      </svg>
    </a>

    <a
      class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium"
      routerLinkActive="bg-gray-900 text-white"
      routerLink="/members"
      >Integrantes</a
    >
  </div>
</nav>
