<form class="max-w-sm mx-auto mb-10" [formGroup]="forms" (ngSubmit)="onSubmit()">
    <h1 class="text-3xl font-extrabold text-gray-900 tracking-widest text-center mb-5">INICIO DE SESIÓN</h1>
    <hr class="w-48 h-1 mx-auto border-0 rounded mb-5">

    </div>
    <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
        <input formControlName="name" type="name" id="name" placeholder="Nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />

        <div *ngIf="nameInvalid">
            <a class="text-red-500 text-sm font-medium">Nombre requerido</a>
        </div>

    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your username</label>
      <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
  
      <div *ngIf="emailInvalid">
        <a class="text-red-500 text-sm font-medium">Email requerido</a>
      </div>

    <div class="mb-5">
        <label for="semester" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
        <input formControlName="semester" type="semester" id="semester" placeholder="Semestre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />

        <div *ngIf="semesterInvalid">
            <a class="text-red-500 text-sm font-medium">Semestre requerido</a>
        </div>

    <div class="mb-5">
        <label for="career" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
        <input formControlName="career" type="career" id="career" placeholder="Semestre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />

        <div *ngIf="careerInvalid">
            <a class="text-red-500 text-sm font-medium">Carrera requerida</a>
        </div>

    </div>
    <div class="flex justify-center">
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Entrar</button>
    </div>
    
</form>
  
  <!-- Errores -->
  <div *ngFor="let error of errorMessages" class="bg-red-500 rounded-lg mb-5 flex justify-center">
    <a *ngIf="error" class="text-white text-sm font-medium m-5">{{error}}</a>
  </div>